.vertical-container{
    margin: 0;
    height: 200px;
    border-radius: 4px;
}
.box-stretched {
    height: 100%;
}
.box, .sample-layout > div {
    background-color: #e6f0f0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    color: #333333;
}