<div class="p-grid">
    <div class="p-field p-col-12 p-xl-3 p-lg-3 p-md-3  p-sm-12">
        <p-card [style]="{'background-color': '#eaeab6'}">
            <div class="p-grid">
                <div class="p-col-12 p-xl-3 p-lg-3 p-md-3  p-sm-12">
                    <div class="user" style="background-image: url(../assets/images/{{profilePath}});">
                    </div>
                </div>
                <div class="p-col-12 p-xl-9 p-lg-9 p-md-9  p-sm-12" style="margin: auto;">
                    <div><label style="font-size: 18px;font-weight: bold;">{{empUserName}}</label></div>
                    <div style="height: 5px;"></div>
                    <div><label style="font-size: 16px;">{{empDesignation}}</label></div>
                    <div style="height: 5px;"></div>
                    <div><label style="font-size: 16px;">{{empDOJ | date}} </label></div>
                </div>
            </div>
        </p-card>
    </div>
    <div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4  p-sm-12">
        <p-card [style]="{'background-color': '#c3b5e2'}">
            <div>
                <div><b style="font-size: 18px;">Project(s)</b> </div>
                <div style="height: 10px;"></div>
                <div><b>Primary :</b> {{defalutProject}}</div>
                <div style="height: 7px;"></div>
                <div><b>Secondary :</b> {{remainProjects}}</div>
                <div style="height: 7px;"></div>
            </div>
        </p-card>
    </div>
    <div class="p-field p-col-12 p-xl-2 p-lg-2 p-md-2 p-sm-12">
        <p-card [style]="{'background-color': 'rgb(199 243 240)'}">
            <div>
                <div><b style="font-size: 18px;">Leave Balance</b> </div>
                <div style="height: 10px;"></div>
                <div><b>Casual Leaves :</b> 15 </div>
                <div style="height: 7px;"></div>
                <div><b>Earned Leaves :</b> 10 </div>
                <div style="height: 7px;"></div>
            </div>
        </p-card>
    </div>
</div>