<div class="p-grid p-align-center vertical-container">
    <div class="p-col-12" style="text-align: center;font-size: 56px;color: #e8e0e1;">
        <i class="pi pi-folder-open"></i>
    </div>
    <div class="p-col-12" style="text-align: center;">
        You currently have no projects
    </div>
    <div class="p-col-12" style="text-align: center;font-size: 12px;color: gray;">
        Let's create your first project in PMS
    </div>
    <div class="p-col-12" style="text-align: center;">
        <button pButton type="button" label="Create a project" (click)="createproject()"
        class="ui-button-rounded ui-button-success"></button>
    </div>
</div>
