@font-face {
    font-family: "madina";
    src: url('~/assets/fonts/pms/Madina.otf') format('opentype');
  }
  @font-face {
    font-family: "yahatsuPu";
    src: url("../fonts/pms/yahatsuPu.otf") format('opentype');
  }
  @font-face {
    font-family: "ELEPHNT";
    src: url("../fonts/pms/ELEPHNT.TTF") format('truetype');
  }
  @font-face {
    font-family: "MISTRAL";
    src: url("../fonts/pms/MISTRAL.TTF") format('truetype');
  }
  
  