@font-face {
    font-family: "madina";
    src: url("./pms/madina.otf");
    format : 'truetype';
    
  }
  @font-face {
    font-family: "yahatsuPu";
    src: url("./pms/yahatsuPu.otf");
    format: 'truetype';
  }
  @font-face {
    font-family: "ELEPHNT";
    src: url("./pms/ELEPHNT.TTF");
    format: 'truetype';
  }
  @font-face {
    font-family: "MISTRAL";
    src: url("./pms/MISTRAL.TTF");
    format: 'truetype';
  }
  
  