<app-header></app-header>
<div class="ui-fluid p-formgrid p-grid" style="margin-left: auto;">
    <div>
        <button pButton type="button" label="Back" icon="pi pi-arrow-left" class="blackbackground" tooltip="Back"
            (click)="btnBack_Click()" style="width: 7.0em;"></button>
    </div>
</div>
<div style="height: 10px;"></div>
<p-table #dt [value]="virtualData" [scrollable]="true" [rows]="50" scrollHeight="250px" [virtualScroll]="true"
    [virtualRowHeight]="34" [lazy]="true">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="userName">Employee Name
            </th>
            <th pSortableColumn="leaveFrom">Leave From
            </th>
            <th pSortableColumn="leaveTo">Leave To
            </th>
            <th pSortableColumn="noOfDays">No Of Days
            </th>
            <th pSortableColumn="leaveReason">Leave Reason
            </th>
            <th pSortableColumn="status">Status
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-leave let-expanded="expanded">
        <tr style="height:34px">
            <td>
                <img src="assets/images/{{profilePath}}" width="32" style="vertical-align: middle" />
                <span class="image-text"> {{leave.userName}}</span>
            </td>
            <td>{{leave.leaveFrom | date:'longDate'}}</td>
            <td>{{leave.leaveTo | date:'longDate'}}</td>
            <td style="text-align: right;">{{leave.noOfDays}}</td>
            <td>{{leave.leaveReason}}</td>
            <!-- <td><span [class]="'customer-badge status-' + leave.leaveType">{{leave.leaveType}}</span></td> -->
            <td><span [class]="'customer-badge status-' + leave.status">{{leave.status}}</span></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
        <tr style="height:34px">
            <td>
                <div class="loading-text"></div>
            </td>
            <td>
                <div class="loading-text"></div>
            </td>
            <td>
                <div class="loading-text"></div>
            </td>
            <td>
                <div class="loading-text"></div>
            </td>
            <td>
                <div class="loading-text"></div>
            </td>
            <td>
                <div class="loading-text"></div>
            </td>
        </tr>
    </ng-template>
</p-table>