<app-header></app-header>
<div class="ui-fluid p-formgrid p-grid" style="margin-left: auto;">
    <div>
        <button pButton type="button" label="Back" icon="pi pi-arrow-left" class="blackbackground" tooltip="Back"
            (click)="btnBack_Click()" style="width: 7.0em;"></button>
    </div>
</div>
<div style="height: 10px;"></div>
<p-table #dt [value]="virtualData" [scrollable]="true" scrollHeight="225px" [rows]="100" [virtualScroll]="true"
    [virtualRowHeight]="34" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="userName">Employee Name <p-sortIcon field="userName"></p-sortIcon>
            </th>
            <th pSortableColumn="leaveFrom">Leave From <p-sortIcon field="leaveFrom"></p-sortIcon>
            </th>
            <th pSortableColumn="leaveTo">Leave To <p-sortIcon field="leaveTo"></p-sortIcon>
            </th>
            <th pSortableColumn="noOfDays">No Of Days <p-sortIcon field="noOfDays"></p-sortIcon>
            </th>
            <th pSortableColumn="leaveReason">Leave Reason <p-sortIcon field="leaveReason"></p-sortIcon>
            </th>
            <th pSortableColumn="leaveType">Leave Type <p-sortIcon field="leaveType"></p-sortIcon>
            </th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-leave let-expanded="expanded">
        <tr>
            <td>
                <img src="assets/images/{{profilePath}}" width="32" style="vertical-align: middle" />
                <span class="image-text"> {{leave.userName}}</span>
            </td>
            <td>{{leave.leaveFrom | date:'longDate'}}</td>
            <td>{{leave.leaveTo | date:'longDate'}}</td>
            <td style="text-align: right;">{{leave.noOfDays}}</td>
            <td>{{leave.leaveReason}}</td>
            <td><span [class]="'customer-badge status-' + leave.leaveType">{{leave.leaveType}}</span></td>
            <td><span [class]="'customer-badge status-' + leave.status">{{leave.status}}</span></td>
        </tr>
    </ng-template>
</p-table>