<div>
    <div class="ui-fluid p-formgrid">
        <div class="ui-rtl" dir="rtl">
            <div class="user" style="background-image: url(../assets/images/{{profilePath}});">
            </div>
        </div>
    </div>
    <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4">
            <p-card>
                <button pButton type="button" label="Apply Leave" class="ui-button-rounded ui-button-success" (click)="navigateToPage('leaves')"></button>
            </p-card>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <p-card>
                <button pButton type="button" label="Work Status" class="ui-button-rounded ui-button-success"></button>
            </p-card>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <p-card>
                <button pButton type="button" label="Issue Status" class="ui-button-rounded ui-button-success"></button>
            </p-card>
        </div>
    </div>
</div>