.user {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .box-stretched {
    height: 100%;
}
.box, .sample-layout > div {
    background-color: #e6f0f0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    color: #333333;
}

.customer-badge {
  border-radius: 2px;
  padding: .25em .5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}
.customer-badge.status-Casual {
    background-color: #C8E6C9;
    color: #256029;
}

.customer-badge.status-Multiple {
    background-color: #FFCDD2;
    color: #C63737;
}

.customer-badge.status-Earned {
    background-color: #FEEDAF;
    color: #8A5340;
}

.customer-badge.status-Compensatory {
    background-color: #B3E5FC;
    color: #23547B;
}

.customer-badge.status-Maternity {
    background-color: #ECCFFF;
    color: #694382;
}

.customer-badge.status-On {
    background-color: #FFD8B2;
    color: #805B36;
}

.customer-badge.status-Paternity {
  background-color: #64ff71;
  color: #805B36;
}

