<!-- <div class="layout-topbar">
    <div style="padding: 2px;font-size: 32px;font-weight: bold;color: #ffff;">
        PMS
    </div>
</div> -->
<div class="layout-topbar">
    <div class="p-grid p-align-center  p-nogutter">
        <div class="p-col-9 p-xl-3 p-lg-3 p-md-8 p-sm-6">
            <div class="p-grid p-align-center  p-nogutter">
                <div class="p-col-2">
                    <a style="min-width: 50px;float: left;height:50px;line-height:50px;text-align: center; text-decoration: none;
                    color: #ffffff;" class="pi pi-bars"></a>
                </div>
                <div class="p-col-10">
                    <a style="min-width: 50px;font-size: 32px;float: left;height:50px;line-height:50px;text-align: center; text-decoration: none;
                    color: #ffffff;">PMS</a>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-6 topbar-menu-1">
            <ul class="topbar-menu">
                <li>
                    <div (click)="itemClick('dashboard')"><span class="pi pi-home"></span>&nbsp;&nbsp;<a>Dashboard</a>
                    </div>
                </li>
                <li>
                    <div (click)="itemClick('projects')"><a>Projects</a>
                    </div>
                </li>
                <li>
                    <div (click)="itemClick('issues')"><a>Issues</a></div>
                </li>
                <li>
                    <div (click)="itemClick('board')"><a>Boards</a></div>
                </li>
            </ul>
        </div>
        <div class="p-col-3 p-xl-3 p-lg-3 p-md-4 p-sm-6">
            <div style="float: right;">
                <span class="textbox-show">
                    <input type="text" pInputText placeholder="Search">&nbsp;&nbsp;
                </span>
                <img src="../../../assets/images/Profile.png"
                    style="width: 32px;height: 32px;border-radius: 50%;vertical-align: top;"
                    (click)="op.toggle($event)">
                &nbsp;&nbsp;
            </div>
        </div>
        <div class="p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12 topbar-menu-2">
            <ul class="topbar-menu">
                <li>
                    <div (click)="itemClick('dashboard')"><span class="pi pi-home"></span>&nbsp;&nbsp;<a>Dashboard</a>
                    </div>
                </li>
                <li>
                    <div><a>Projects</a>
                    </div>
                </li>
                <li>
                    <div (click)="itemClick('issues')"><a>Issues</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="p-grid">
        <p-overlayPanel #op>
            <ng-template pTemplate>
                <div class="textbox-hide">
                    <input type="text" pInputText placeholder="Search">
                </div>
                <div>
                    <button pButton type="button" label="Logout"
                        class="ui-button ui-button-danger" (click)="btnLogout_Click()"></button>
                </div>
            </ng-template>
        </p-overlayPanel>
    </div>

    <!-- <div class="p-grid ">
                <div class="p-col-6">
                </div>
                <div class="p-col-6">
                </div>
            </div> -->

    <!-- <p-menubar [model]="items">
              
            </p-menubar> -->
</div>
<!-- <div class="layout-sidebar">
    <div class="layout-menu">
        <div *ngFor="let menuItem of menu">
            <span>
                <span>{{menuItem.headerMenu}} </span>
            </span>
            <div>
                <a *ngFor="let menuCItem of menuItem.childMenu" (click)="onMenuClick($event,menuCItem.link)" >{{menuCItem.name}}</a>
            </div>
        </div>
    </div>
</div> -->
<div  [ngClass]="noissuebar ? 'layout-content' : 'layout-content-pad'">
    <router-outlet></router-outlet>
</div>