<!-- <div class="layout-topbar">
    <div style="padding: 2px;font-size: 32px;font-weight: bold;color: #ffff;">
        PMS
    </div>
</div> -->
<div class="layout-topbar">
    <div class="p-grid  p-align-center">
        <div class="p-col-2">
            <ul class="top-bar-header">
                <li><a style="min-width: 50px;" class="pi pi-bars"></a> </li>
                <li> <a style="min-width: 50px;font-size: 32px;">PMS</a></li>
            </ul>
            <!-- <div class="p-grid ">
                <div class="p-col-6">
                </div>
                <div class="p-col-6">
                </div>
            </div> -->
        </div>
        <div class="p-col-8">
            <ul class="topbar-menu">
                <li>
                    <div (click)="itemClick('dashboard')"><span class="pi pi-home"></span>&nbsp;&nbsp;<a>Dashboard</a></div>
                </li>
                <li>
                    <div><a>Projects</a>
                    </div>
                </li>
                <li>
                    <div (click)="itemClick('issues')"><a>Issues</a></div>
                </li>
            </ul>
            <!-- <p-menubar [model]="items">
              
            </p-menubar> -->
        </div>
        <div class="p-col-2">
            <div style="float: right;">
                <input type="text" pInputText placeholder="Search">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../assets/images/Profile.png"
                    style="width: 32px;height: 32px;border-radius: 50%;vertical-align: top">
                &nbsp;&nbsp;
            </div>
        </div>
    </div>
    <!-- <div class="layout-sidebar">
    <div class="layout-menu">
        <div *ngFor="let menuItem of menu">
            <span>
                <span>{{menuItem.headerMenu}} </span>
            </span>
            <div>
                <a *ngFor="let menuCItem of menuItem.childMenu" (click)="onMenuClick($event,menuCItem.link)" >{{menuCItem.name}}</a>
            </div>
        </div>
    </div>
</div> -->
    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>