<div class="layout-topbar">
    <div style="padding: 2px;font-size: 32px;font-weight: bold;color: #ffff;">
        PMS
    </div>
</div>
<!-- <div class="layout-sidebar">
    <div class="layout-menu">
        <div *ngFor="let menuItem of menu">
            <span>
                <span>{{menuItem.headerMenu}} </span>
            </span>
            <div>
                <a *ngFor="let menuCItem of menuItem.childMenu" (click)="onMenuClick($event,menuCItem.link)" >{{menuCItem.name}}</a>
            </div>
        </div>
    </div>
</div> -->
<div>
    <router-outlet></router-outlet>
</div>