<p-toast position="center" key="alert" (onClose)="onReject()" styleClass="alertToast" [modal]="true" [baseZIndex]="5000"
  appendTo="body">
  <ng-template let-message pTemplate="message">
    <div class="ui-g" style="padding:0em;background-color: white; border-radius: 1em;">
      <div class="ui-lg-12 alertHeader" style="font-size: 16px; color:red;padding: 0 !important;">
        <div class="ui-lg-12 ui-md-12" align="left"
          style="border-bottom: solid 1px pink;background-color:#f8b7bd;border-top-left-radius:0.5em;border-top-right-radius:0.5em;padding:0.8em">
          <h4 style="margin:1px;" *ngIf="message.summary">
            <label [innerHTML]="message.summary" style="font-size: 16px;"></label>
          </h4>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad" align="left" *ngIf="message.detail"
        style="padding:1em;max-height:15em;overflow:auto">
        <div class="ui-g-4" align="center">
          <i class="pi pi-exclamation-triangle" style="font-size: 4em;margin:0px;color:red"
            *ngIf="message.summary!=='Login Failed!'"></i>
          <img src="../../../assets/images/lock-error.png" *ngIf="message.summary==='Login Failed!'">
        </div>
        <div class="ui-g-8">
          <label [innerHTML]="message.detail"></label>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad" align="left" *ngIf="message.detail"
        style="border-top: solid 1px pink;;background-color:#f8b7bd;border-bottom-left-radius:0.5em;border-bottom-right-radius:0.5em">
        <div class="ui-g-12" align="right">
          <button type="button" pButton (click)="onReject()" label="OK" class="ui-button-secondary"
            style="border-color: #007ad9; background: #007ad9; color: #ffff;"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="bottom-right" key="saveSuccess" appendTo="body" [style]="{marginTop: '80px'}"></p-toast>
<p-toast position="bottom-right" key="saveError" appendTo="body" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="mailToast" position="center" [modal]="true" [baseZIndex]="50000"></p-toast>

<router-outlet></router-outlet>