<!-- <div class="p-grid forms-grid">
    <div class="p-col-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                Create an Issue
            </div>
            <div class="ui-toolbar-group-right">
            </div>
        </p-toolbar>
    </div>
</div> -->
<div class="p-grid">
    <div class="p-col-12">
        <form [formGroup]="issueform" (ngSubmit)="onSubmit(issueform.value)">
            <p-panel>
                <p-header>
                    Create an Issue
                </p-header>
                <div class="p-grid">
                    <div class="p-col-12 p-xl-3 p-lg-4 p-md-6 p-sm-6">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <label for="Project">Project<span style="color: red;">* </span></label>
                            </div>
                            <div class="p-col-12">
                                <div class="ui-fluid">
                                    <p-dropdown formControlName="frmproject" [options]="projects"
                                        placeholder="Select Project" [(ngModel)]="selectedProject"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-xl-3 p-lg-4 p-md-6 p-sm-6">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <label for="Issue Type">Issue Type <span style="color: red;">* </span></label>
                            </div>
                            <div class="p-col-12">
                                <div class="ui-fluid">
                                    <p-dropdown formControlName="frmissueType" [options]="issueTypes"
                                        placeholder="Select IssueType" [(ngModel)]="selectedIssue"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-xl-3 p-lg-4 p-md-6 p-sm-6">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <label for="Summary">Summary<span style="color: red;">* </span></label>
                            </div>
                            <div class="p-col-12">
                                <div class="ui-fluid">
                                    <input pInputText formControlName="frmsummary" id="summary" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <label for="Description">Description / Steps to reproduce <span style="color: red;">*
                                    </span></label>
                            </div>
                            <div class="p-col-12">
                                <div class="ui-fluid">
                                    <p-editor formControlName="frmdescription" [(ngModel)]="description"
                                        [style]="{'height':'220px'}">
                                    </p-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <label for="Acceptance">Acceptance Criteria</label>
                            </div>
                            <div class="p-col-12">
                                <div class="ui-fluid">
                                    <p-editor formControlName="frmacceptence" [(ngModel)]="acceptenceCriteria"
                                        [style]="{'height':'220px'}">
                                    </p-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12">
                        <label for="Upload">Upload Attachments</label>
                    </div>
                    <div class="p-col-12">
                        <p-fileUpload name="myfile[]" (onSelect)="selectFile($event.files)"
                            (onRemove)="onRemoveFile($event)" multiple="multiple" [showUploadButton]="false"
                            [showCancelButton]="false"></p-fileUpload>
                    </div>
                </div>
                <p-footer>
                    <button pButton type="submit" icon="pi pi-plus" label="Create" [disabled]="!issueform.valid"
                        class="ui-button-success" style="margin-right: .25em">
                    </button>
                    <button pButton type="button" (click)="cancel()" icon="pi pi-times" label="Cancel"
                        class="ui-button-danger"></button>
                </p-footer>
            </p-panel>
        </form>
    </div>
</div>
<a href="http://localhost/PMSDocuments/Upload/RajuS/1003/giphy.gif" pTooltip="Downlaod File"
    class="fa fa-download fa-150x"
    style="color:dodgerblue; cursor:pointer;border:solid 1px blue;padding:2px;border-radius: 0.2em"></a>
<p-toast></p-toast>