<app-header></app-header>
<div style="text-align: right;">
    <button pButton type="button" label="Leave History" class="ui-button-success" style="width: 9.0em;"
        (click)="btnLeaveHistory_Click()"></button>
</div>
<div style="height: 5px;"></div>
<div class="ui-fluid p-formgrid">
    <p-panel [toggleable]="true" header="Apply Leave">
        <div class="ui-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
                <label for="Issue Type">Reporting Office</label>
                <p-dropdown [options]="officeTypes" [(ngModel)]="selectedOffice" (onChange)="officeTypes_Change()">
                </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="Issue Type">Reporting Manager</label>
                <p-dropdown [options]="managerTypes" [(ngModel)]="selectedManager">
                </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="period">Period</label>
                <p-calendar #dateFilter [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                    aria-describedby="period-help" showButtonBar="true" [disabledDays]="[0,6]" (onClose)="calClose()"
                    (onShow)="calShow()" (onSelect)="onDatesRangeFilterSelected($event)" [disabledDates]="invalidDates"
                    [disabled]="!isValidLocation">
                </p-calendar>
                <small id="period-help">Select period for applying leaves.</small>
            </div>
        </div>
        <div style="height: 5px;"></div>
        <div style="text-align: right;">
            <button pButton type="button" label="Next" icon="pi pi-arrow-right" iconPos="right" class="ui-button-info"
                style="width: 7.0em;" [disabled]="!isValidDateRange" (click)="btnNext_Click()"></button>
        </div>
        <div style="height: 5px;"></div>
        <p-panel [toggleable]="true" header="Leave Details" *ngIf="isNextClicked">
            <form [formGroup]="leaveDetailsForm">
                <div class="ui-fluid p-formgrid p-grid">
                    <div class="p-col-12 p-md-3" style="font-weight: bold; padding: 1.0em;">
                        Date
                    </div>
                    <div class="p-col-12 p-md-3" style="font-weight: bold; padding: 1.0em;">
                        Type
                    </div>
                    <div class="p-col-12 p-md-3" style="font-weight: bold; padding: 1.0em;">
                        Duration
                    </div>
                    <div class="p-col-12 p-md-3" style="font-weight: bold; padding: 1.0em;">
                        Period
                    </div>
                </div>
                <div class="ui-fluid p-formgrid" *ngFor="let c of leaveDates;index as c1"
                    [ngClass]="{'altRowColor': 0 !== c1 % 2}">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-3" style="padding: 1.0em;">
                            {{c.date | date:'fullDate'}}
                        </div>
                        <div class="p-col-12 p-md-9" style="padding: 1.0em;text-align: center;" colspan="3"
                            *ngIf="c.isValid === false">
                            {{c.holidayDesc}} holiday
                        </div>
                        <div class="p-col-12 p-md-3" style="padding: 1.0em;" *ngIf="c.isValid === true">
                            <p-dropdown [options]="types" [style]="{'width':'55%'}" id="drpType_{{c1}}"
                                formControlName="FCDrptype_{{c1}}"></p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-3" style="padding: 1.0em;" *ngIf="c.isValid === true">
                            <p-dropdown [options]="duration" [style]="{'width':'55%'}" id="drpDuration_{{c1}}"
                                formControlName="FCDrpDuration_{{c1}}" (onChange)="funDurationChange(c1)">
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-3" style="padding: 1.0em;" *ngIf="c.isValid === true">
                            <p-dropdown [options]="period" [style]="{'width':'55%'}" id="drpPeriod_{{c1}}"
                                formControlName="FCDrpPeriod_{{c1}}"></p-dropdown>
                        </div>
                    </div>
                </div>
            </form>
        </p-panel>
        <div style="height: 5px;"></div>
        <div class="ui-fluid p-formgrid p-grid" *ngIf="isNextClicked">
            <div class="p-field p-col-12 p-md-4">
                <label for="Issue Type">Leave Reason</label>
                <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"
                    [(ngModel)]="leaveReason"></textarea>
            </div>
        </div>
        <p-footer>
            <div style="text-align: right;">
                <button pButton type="button" label="Apply" class="ui-button-success" (click)="btnApply_Click()"
                    style="width: 7.0em;"></button>
            </div>
        </p-footer>
    </p-panel>
</div>
<div style="height: 5px;"></div>
<div class="ui-fluid p-formgrid p-grid" style="margin-left: auto;">
    <div>
        <button pButton type="button" label="Back" icon="pi pi-arrow-left" class="blackbackground" tooltip="Back"
            (click)="btnBack_Click()" style="width: 7.0em;"></button>
    </div>
</div>