/* You can add global styles to this file, and also import other style files */
.positionMiddle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  font-family: "madina";
  font-size: 30pt !important;
  color: #333;
}

.sectionheader {
  font-family: "madina";
  font-size: 20pt !important;
  color: brown;
  text-align: center;
}

.headerlabel {
  font-family: "yahatsuPu";
  font-size: 15pt;
  color: #333;
}

.ui-button .pi {
  font-size: 1.05em !important;
}

.blackbackground {
  background-color: black !important;
  border-color: black !important;
}

.layout-menubar .ui-corner-all {
  border-radius: 0px !important;
}
.layout-menubar .ui-menubar {
  padding: 0;
  background-color: #1a257a;
  border: none !important;
}
.layout-menubar .ui-menubar .ui-menuitem-link .ui-menuitem-text {
  color: #ffffff;
}
.layout-menubar .ui-menubar .ui-menuitem-link .ui-menuitem-icon {
  color: #ffffff;
  margin-right: 0.5em;
}
.layout-menubar .ui-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 0em #eaecfb!important;
  -moz-box-shadow: 0 0 0 0em #eaecfb!important;
  box-shadow: 0 0 0 0em #eaecfb!important;
}
.layout-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
  background-color: #313c94 !important;
}
.layout-menubar .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text {
  color: #ffffff;
}
.layout-menubar .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-icon, body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-submenu-icon {
  color: #ffffff;
}
.layout-menubar .ui-menubar .ui-menuitem-link:not(.ui-state-disabled):hover {
  background-color: #313c94 !important;
}
.layout-menubar .ui-menubar .ui-menuitem-link:not(.ui-state-disabled):hover .ui-menuitem-text {
  color: #ffffff!important;
}
.layout-menubar .ui-menubar .ui-menuitem-link:not(.ui-state-disabled):hover .ui-menuitem-icon {
  color: #ffffff!important;
}

.layout-topbar .ui-button {
  margin: 0;
  color: #ffffff;
  background-color: #1a257a !important;
  border: 1px solid #1a257a !important;
  font-size: 14px;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.layout-topbar .ui-button:hover {
  background-color: #313c94 !important;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.layout-topbar .ui-splitbutton .ui-button.ui-splitbutton-menubutton{
  vertical-align: baseline !important;
}
.layout-topbar .ui-button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: 0 0 0 0.2em #1a257a !important;
}

.layout-topbar .ui-splitbutton.ui-buttonset .ui-button {
  height: 45px;
}
p-card.issueMoving > div{
  padding:5px;
}
.issueBar .ui-sidebar{
  top:50px;
}
.customCardRight .ui-card{
  border-top-right-radius:0px !important;
  border-bottom-right-radius:0px !important;
  box-shadow:none;
}
.customCardLeft .ui-card{
  border-top-left-radius:0px !important;
  border-bottom-left-radius:0px !important;
  box-shadow:none;
}
.customCardRight .ui-card-body, .customCardLeft .ui-card-body{
  padding:0.5em;
}

.customer-badge, .issue-badge, .issueStatus {
  border-radius: 2px;
  padding: .25em .5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}
.customer-badge.status-Casual, .issue-badge.issueType-Enhancement {
    background-color: #C8E6C9;
    color: #256029;
}

.customer-badge.status-Multiple, .issue-badge.issueType-Bug {
    background-color: #FFCDD2;
    color: #C63737;
}

.customer-badge.status-Earned {
    background-color: #FEEDAF;
    color: #8A5340;
}

.customer-badge.status-Compensatory, .issue-badge.issueType-Issue {
    background-color: #B3E5FC;
    color: #23547B;
}

.customer-badge.status-Maternity {
    background-color: #ECCFFF;
    color: #694382;
}

.customer-badge.status-On {
    background-color: #FFD8B2;
    color: #805B36;
}

.customer-badge.status-Paternity {
  background-color: #64ff71;
  color: #805B36;
}

.customer-badge.status-Submitted {
  background-color: #C8E6C9;
  color: #256029;
}

.customer-badge.status-Cancelled {
  background-color: #FFCDD2;
  color: #C63737;
}

.customer-badge.status-Approved-Manager {
  background-color: #FEEDAF;
  color: #8A5340;
}

.customer-badge.status-Rejected-Manager {
  background-color: #B3E5FC;
  color: #23547B;
}

.customer-badge.status-Approved-HR {
  background-color: #ECCFFF;
  color: #694382;
}

.customer-badge.status-Rejected-HR {
  background-color: #FFD8B2;
  color: #805B36;
}

.customer-badge.status-Open, .issue-badge.status-Open{
  background-color: #B3E5FC;
  color: #23547B;
}

.customer-badge.status-Assigned, .issue-badge.status-Assigned {
  background-color: #ECCFFF;
  color: #694382;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightsteelblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1976d2;
  border-radius: 3px;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #135ba1;
}

/* width */
::-moz-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-moz-scrollbar-track {
  background: lightsteelblue;
}

/* Handle */
::-moz-scrollbar-thumb {
  background: #1976d2;
  border-radius: 3px;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Handle on hover */
::-moz-scrollbar-thumb:hover {
  background: #135ba1;
}
.gridMenu .ui-menu.ui-shadow{
  top:40px !important;
  left:15px !important;
}
.buttonIconTemp .ui-button-icon-left {
  font-size: 1.5em !important;
}